@import url('https://fonts.googleapis.com/css?family=Domine|Ubuntu&display=swap');


$family-primary: 'Domine', cursive;
$family-secondary: 'Ubuntu', sans-serif;

$navbar-background-color: #444444;


.navbar {
  background-color:#444444;
}


.navbar-item{
  color: white;
  font-family: Tajawal;
}
