@import url('https://fonts.googleapis.com/css?family=Domine|Ubuntu&display=swap');


$family-primary: 'Domine', cursive;
$family-secondary: 'Ubuntu', sans-serif;

$navbar-background-color: #444444;


*::before,
*::after {
	box-sizing: border-box;
}


body {
	font-family: 'Domine', serif;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

// Controls background images in each section
.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: -850px;
}

//Controls the programmes index table border

.box {
    background-color: rgba(68,68,68,0.8);
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
    color: #fff;
    display: block;
    padding: 1.25rem;
}

// Everything Navbar
.navbar {
  background-color:#444444;
}


.navbar-item{
  color: white;
  font-family: Tajawal;
}

.navbar-burger {
    color: #444444;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}

.navbar-menu {
  background-color: #444444;
  box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  padding: 0.5rem 0;
}

//All Background images

.login-background {
  background-image: url('https://static.makeuseof.com/wp-content/uploads/2017/07/workout-apps-sites-670x335.jpg');
}

.register-background {
  background-image: url('https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
}

.programmes-index-background {
  background-image: url('https://image.freepik.com/free-photo/gym-interior-with-equipments_23-2147949749.jpg');
}


.programmes-new-background {
  background-image: url('https://www.horshamblog.co.uk/wp-content/uploads/2018/01/new-free-gym-horsham-park-1-1024x684.jpg');
}

.programmes-edit-background {
  background-image: url('');
}

.programmes-show-background {
  background-image: url('https://cdn.wallpapersafari.com/67/41/KMVnWZ.gif')
}

.card {
  overflow: hidden;
  height: 100%;
  box-shadow: 1px 1px 1px 1px #FFFFFF;
  border: 1px solid #2F4F4F;
  width: 800px;
  border-radius: 15px;
}

.card-image{
  object-fit: cover;
  border-radius: 5px;
  height: 80%;
}


//Footer styling
#menu-footer-menu{
  text-align: center;
  color: white;
}

li#menu-item{
  display: inline;
  margin:0 10px 10px;
}

li.tabs{
  display: inline;
  margin: 100px;
}

h2.key{
  text-align: center;
}

div.footer-bottom{
  background-color: #444444;
}

#footer-social{
  text-align: center;
}

.fa-3x{
  margin:5px;
}

svg.path{
  margin-top: 5px;
}

p.copyright{
  color: white;
  text-align: center;
}
.footer-spacing {
  height: 95px;
}

.footer-spacing-show {
  height: 300px;
}

.footer-spacing-exercises {
  height: 200px;
}

.footer-spacing-item-new {
  height: 5px;
}

.footer-spacing-exercises-show {
  height: 10px;
}

.footer-spacing-edit {
  height: 220px;
}

.footer-spacing-index {
  height: 320px;
}

.title.is-3.show-has-white-text{
  color: white;
}

.title.is-3.register-has-white-text{
  color: white;
}

.title.is-3.login-has-white-text{
  color: white;
}

.title.is-3.item-new-has-white-text{
  color: white;
}

.title.is-2.index-has-white-text{
  color: white;
}

.home.title.is-1{
  color: white;
}

.home.subtitle.is-4{
  color: white;
}

.home.secondTitle.title.is-3{
  color: white;
}

.home.secondTitle.title.is-3{
  color: white;
}

.home.secondTitle.title.is-3{
  color: white;
}


.image-one {
  background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}
.image-two {
  background-image: url(http://www.cndajin.com/data/wls/71/9468190.jpg);
}
.image-three {
  background-image: url(https://i.ytimg.com/vi/ee3rLnbvXjY/maxresdefault.jpg);
}
.image-four {
  background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/crm/knoxville/IMG_46120_161f5813-5056-a348-3a4fc074a572a81a.jpg);
}


.title.is-3.about-has-white-text{
  color: white;
}

.herotext {
  margin: auto auto;
  align-content: center;
  text-align: center;
}
.secondTitle {
  margin: 200px auto;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 300px;
  padding: auto 0;
  margin: 100px auto;
}

.hero-body, .hero-sub {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hero-sub {
  .title, .subtitle {
    text-shadow: 0 2px 3px #000;
    text-align: center;
  }
}



// Controls login page
.afterlogin{
  height: 150px;
}
.afterregister{
  height: 30px;
}


.label-new{
  color: white;
}



.tag {
  &.is-Monday {
    color: green;
  }
  &.is-Tuesday {
    color: blue;
  }
  &.is-Wednesday {
    color: orange;
  }
  &.is-Thursday {
    color: red;
  }
  &.is-Thursday {
    color: lime;
  }
  &.is-Friday {
    color: teal;
  }
  &.is-Saturday {
    color: DeepPink;
  }
  &.is-Saturday {
    color: SlateBlue;
  }
}


.programme-section {
  text-align: center;
}

.itemcard {
  height: 400px;
  box-shadow: 1px 1px 1px 1px #FFFFFF;
  border: 1px solid #2F4F4F;
  width: 100%;
  border-radius: 15px;
}

.exercisefilter {
  padding-bottom: 20px;
}

#programmesbuttons{
  display: flex;
  align-items: center;
}

.card.exercise-card {

  .card-image {
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
